button {
  padding-left: 20px;
}

label {
  color: red;
  font-size: large;
  padding-right: 30px;
}

.background {
  margin-top: -80px;
  height:100vh;
  background-image: url('../../components/stadium/arsenal.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  }

  .search {
  padding-top: 100px;
  }


 